body{
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100vh;
}

img{
    width: 100%;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 76px;
    background: linear-gradient(to right, #007bff 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: #007bff;
}

.h3{
    font-size: 50px;
}

.nav-link, .dropdown-item{
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
}

.navbtn{
    background-color: rgb(255, 255, 255);
    width: 10rem;
    margin: 1rem 1rem;
    border-radius: .8rem;
}

.all_card{
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    width: 90rem;
    margin: 0 auto;
}

.card_container{
    width: 100%;
    max-width: 37rem;
    padding: 2rem 1rem 2rem 2rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 0 5rem 3rem 0;
}

.card_img{
    min-width: 22rem;
    max-width: 22rem;
    transform: translateX(-3.5rem);
    position: relative;
    border-radius: .8rem;
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,0.5);
    img{
        border-radius: .8rem;
    }
}

.card_price{
    font-size: 20px;
}

.card_parution{
    margin-bottom: 0;
}

.conteneur-form{
    width: 620px;
}

.alert{
    display: inline !important;
    position: fixed !important;
}

.msg_sup{
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
}

.msg_container{
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-top: -100px;
    margin-left: -150px;
}

@media screen and (max-width: 1399px) {
    .all_card{
        display: block;
        width: 45rem;
        margin: 0 auto;
        padding-left: 4rem;
    }
}